#loginPage h1::after {
  content: "Please sign in";
  font-size: 30px;
}

/* .padded-left.padded-right.flex.align-items-center.justify-content-center {

	background-image: url(https://i.imgur.com/qn367L8.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;

	padding-bottom: 30px;
	height: 500px;


} */