#loginPage h1::after {
  content: "Login";
  font-size: 30px;
}

.padded-left.padded-right.flex.align-items-center.justify-content-center {

	background-image: url("https://unsplash.com/photos/a-dimly-lit-restaurant-with-tables-and-chairs-gnWhPEh_i7s");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;

	padding-bottom: 30px;
	height: 500px;


}